@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  /* Primary */
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  /* Neutral */
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

/* General Styling */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background: rgb(250, 250, 249);
}

/* Header and Navigaton */

.page-header {
  background: url(/images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
}

.navbar-logo {
  padding: 1.2em;
}

.navbar-menu {
  width: 85%;
  position: relative;
  margin: auto;
  border-radius: 15px;
  background: white;
  z-index: 100;
  max-height: 0;
  overflow: hidden;
}

.show-menu {
  max-height: 500px;
  transition: max-height 0.3s linear;
}

.navbar-menu li {
  width: 100%;
  list-style: none;
  transition: all 0.5s;
}

.navbar-menu a {
  display: block;
  padding: 1.7em;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  color: var(--black);
  transition: all 0.5s;
}

.navbar-menu hr {
  border-top: 0.7px solid rgba(161, 163, 161, 0.2);
  border-bottom: none;
}

.menu-toggler {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  cursor: pointer;
}

.menu-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.darkness {
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
  overflow: auto;
}

/* Main */

.project-card {
  width: 85%;
  margin: -3em auto auto auto;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.project-logo {
  margin-top: -50px;
}

.project-title {
  width: 70%;
  margin: 1.5em auto;
}

.project-description {
  margin: 1.5em auto;
  font-size: 14px;
  line-height: 1.7em;
  color: var(--dark-gray);
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 0.8em;
  margin: 1.5em auto;
}

.back-button {
  background: var(--moderate-cyan);
  color: white;
  border: none;
  height: 56px;
  width: 220px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
}

.backers-card {
  width: 85%;
  margin: 1.5em auto;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.backers-number {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.4em;
}

.backers-text {
  font-size: 12px;
  color: var(--dark-gray);
}

.backers-divisor {
  width: 25%;
  margin: 1.5em auto;
  border: 0.2px solid rgba(204, 202, 202, 0.6);
  border-bottom: none;
}

.progress-bar {
  background-color: rgba(243, 242, 242, 0.918);
  width: 95%;
  height: 12px;
  margin: 2em auto 0.8em auto;
  border-radius: 15px;
}

.progress {
  background-color: var(--moderate-cyan);
  width: 80%;
  height: 12px;
  border-radius: 15px;
}

.about-card {
  width: 85%;
  margin: 1.5em auto;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.about-text {
  color: var(--dark-gray);
  font-size: 14px;
  margin-top: 1.5em;
  line-height: 1.6em;
}

.option-card {
  width: 95%;
  margin: 1.5em auto;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
}

.option-pledge {
  font-size: 13px;
  font-weight: 600;
  margin-top: 0.5em;
  color: var(--moderate-cyan);
}

.option-text {
  color: var(--dark-gray);
  font-size: 13.5px;
  line-height: 1.8em;
  margin: 2em 0;
}

.option-days {
  font-weight: 700;
  font-size: 28px;
}

.option-days::after {
  content: "left";
  color: var(--dark-gray);
  position: relative;
  font-size: 13px;
  font-weight: 400;
  bottom: 0.4em;
  left: 0.5em;
}

.option-reward {
  background: var(--moderate-cyan);
  color: white;
  border: none;
  border-radius: 25px;
  margin-top: 1.8em;
  height: 50px;
  width: 150px;
}

.out-of-stock {
  background: var(--dark-gray);
}

/* Modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  width: 80%;
  margin: 100px auto;
}

.close-modal {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
